---
const { title } = Astro.props;
---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="font-sans bg-gray-50 text-gray-900 p-6">
    <main class="max-w-3xl mx-auto">
      <slot />
    </main>
  </body>
</html>